---

title: Alternative To Service Object In Rails
date: 2020-12-05 10:00 UTC
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
tags: Rails, ActiveModel, Service Object
<!-- social_media: social-media-2.png -->

---


{::options parse_block_html="true" /}

<div data-target="code-highlighter.code">
  <pre>
    # app/controllers/publications_controller.rb

    class PublicationsController < ApplicationController
      before_action :set_publication

      def new
      end

      def create
        if @publication.create(publication_params)
          redirect_to posts_url, notice: 'Publication was successfully created.'
        else
          render :new
        end
      end

      def destroy
        @publication.destroy
        redirect_to posts_url, notice: 'Publication was successfully destroyed.'
      end

      private

      def set_publication
        @publication = Post.find(params[:post_id]).publication
      end

      # Only allow a list of trusted parameters through.
      def publication_params
        params.require(:publication).permit(:publisher_id)
      end
    end
  </pre>
</div>