---
title: Welcome
---

<div class="headings">
  <h1>Alexandre Barret</h1>
  <h3>Web Developer, Dancer, and Wannabe Drummer in Wellington, New Zealand</h3>
</div>

<div class="call-to-action">
  <% link_to '/contact-me', class: 'pure-button button-large button-primary' do %>
    <%= image_tag 'icons/email.svg', class: 'icon' %> Get in touch
  <% end %>
</div>

<div class="bio">
  <p>Hey, I’m Alexandre. I’m a web developer living in Wellington, New Zealand. I am a fan of Product Development and User Research. I’m also interested in Music, Lindy Hop and huge advocate of Simpleness. You can contact me with a click on the button above.</p>
</div>

<div class="social-media">
  <% data.social_media_icons.each do |social_media| %>
    <% link_to social_media.url, target: '_blank' do %>
      <%= image_tag social_media.icon %>
    <% end %>
  <% end %>
</div>
